.review
  list-style-type: none
  padding-left: 5vw

  .item
    padding-bottom: 20px

    &:last-of-type
      padding-bottom: 0

  .author
    font-weight: bolder

  .text
    font-style: italic
    padding-left: 20px

.sectionTitle
  margin: 0.5em 0
  font-size: 30px
  font-weight: bold
  color: var(--primary2)
  padding-left: 5vw

.dark
  color: white